In [1]:
#LOAD RELEVANT PACKAGES
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as  pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_absolute_error

In [2]:
population = pd.read_csv('../../data/01-modified-data/cleaned-population-py.csv')
population.head()

,Unnamed: 0,Entity,Year,Natural_growth_rate,GDP,Deaths,Births,Life,Disability
0,0,Afghanistan,2002,3.69,1189.784668,229450,980458.0,56.784,78088.270828
1,1,Afghanistan,2003,3.67,1235.810059,240215,1063246.0,57.271,75103.762176
2,2,Afghanistan,2004,3.61,1200.277954,243367,1097160.0,57.772,73137.361976
3,3,Afghanistan,2005,3.53,1286.793701,241454,1099366.0,58.290,71629.722924
4,4,Afghanistan,2006,3.50,1315.789062,246037,1136774.0,58.826,70807.147852

In [3]:
population = population.drop(columns=['Unnamed: 0'])
# nomalize
population['Year_norm'] = (population['Year'] -np.mean(population['Year'] ,axis=0))/np.std(population['Year'] ,axis=0)
population['GDP'] = (population['GDP']-np.mean(population['GDP']))/np.std(population['GDP'])
population['Deaths'] = (population['Deaths']-np.mean(population['Deaths']))/np.std(population['Deaths'])
population['Births'] = (population['Births']-np.mean(population['Births']))/np.std(population['Births'])
population['Life'] = (population['Life']-np.mean(population['Life']))/np.std(population['Life'])
population['Disability'] = (population['Disability']-np.mean(population['Disability']))/np.std(population['Disability'])
#population['Label'] = population['Natural_growth_rate'].apply(lambda x:1 if x>0  else 0)
population = pd.get_dummies(population,columns=['Entity'])

In [6]:
x=population.loc[:,population.columns !='Natural_growth_rate']
y = np.round(population['Natural_growth_rate'])
#split data to train and test
x_train,x_test,y_train,y_test=train_test_split(x, y ,test_size=0.2)
x

,Year,GDP,Deaths,Births,Life,Disability,Year_norm,Entity_Afghanistan,Entity_Albania,Entity_Algeria,...,Entity_United Arab Emirates,Entity_United Kingdom,Entity_United States,Entity_Uruguay,Entity_Uzbekistan,Entity_Vanuatu,Entity_Vietnam,Entity_World,Entity_Zambia,Entity_Zimbabwe
0,2002,-0.816805,-0.087527,-0.050382,-1.221520,1.485177,-0.337810,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2003,-0.814436,-0.084880,-0.042510,-1.170627,1.358566,-0.220881,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2004,-0.816265,-0.084105,-0.039286,-1.118271,1.275147,-0.103952,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2005,-0.811812,-0.084575,-0.039076,-1.064139,1.211189,0.012978,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,-0.810319,-0.083448,-0.035519,-1.008125,1.176293,0.129907,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5383,2015,-0.687201,-0.113352,-0.097810,-0.934137,0.979548,1.182269,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5384,2016,-0.688714,-0.113893,-0.097929,-0.854715,0.894939,1.299199,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5385,2017,-0.682670,-0.113910,-0.097908,-0.800582,0.815277,1.416128,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5386,2018,-0.676112,-0.114384,-0.097608,-0.760558,0.721411,1.533057,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5387,2019,-0.691194,-0.113525,-0.097502,-0.729729,0.674093,1.649986,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
# INSERT CODE TO TRAIN THE MODEL 		
model = GaussianNB().fit(x_train, y_train)
yp_test = model.predict(x_test)
print("ACCURACY CALCULATION")
print("TEST SET:")
print("Accuracy:",(1-np.count_nonzero(y_test - yp_test)/len(y_test))*100)

#print("--------TRAINING DATA-------")
#fig = plt.figure()
#ax = fig.add_subplot(111, projection='3d')
#ax.scatter(x_train[:,0], x_train[:,1], x_train[:,2],  x_train[:,3],marker='o',c=y_train)
#plt.savefig('../../501-project-website/images/naive_bayes_python_train.png')
#plt.show()

#print("--------TESTING DATA-------")
#fig = plt.figure()
#ax = fig.add_subplot(111, projection='3d')
#ax.scatter(x_test[:,0], x_test[:,1], x_test[:,2],  x_test[:,3],marker='o',c=y_test)
#plt.savefig('../../501-project-website/images/naive_bayes_python_test.png')
#lt.show()

ACCURACY CALCULATION
TEST SET:
Accuracy: 68.18181818181819