In [84]:
#%%
import pandas as pd
import numpy as np

In [85]:
# natural population growth data
population = pd.read_csv('../../data/00-raw-data/natural-population-growth.csv')
population = population.drop(columns=['Code','Natural growth rate - sex: all - age: all - variant: medium'])
population.head()

,Entity,Year,Natural growth rate - sex: all - age: all - variant: estimates
0,Afghanistan,1950,1.09
1,Afghanistan,1951,1.18
2,Afghanistan,1952,1.27
3,Afghanistan,1953,1.35
4,Afghanistan,1954,1.40

In [86]:
# gdp data
gdp = pd.read_csv('../../data/00-raw-data/gdp-per-capita-worldbank.csv')
gdp = gdp.drop(columns=['Code'])
gdp.head()

        Entity  Year  GDP per capita, PPP (constant 2017 international $)
0  Afghanistan  2002                                        1189.784668
1  Afghanistan  2003                                        1235.810059
2  Afghanistan  2004                                        1200.277954
3  Afghanistan  2005                                        1286.793701
4  Afghanistan  2006                                        1315.789062

In [87]:
# life
#life = pd.read_csv('../../data/00-raw-data/life-expectancy.csv')
#life = life.drop(columns=['Code'])
#life.head()

In [88]:
#death
death = pd.read_csv('../../data/00-raw-data/annual-number-of-deaths-by-world-region.csv')
death = death.drop(columns=['Code'])
death.head()

        Entity  Year  Deaths - sex: all - age: all - variant: estimates
0  Afghanistan  1950                                             283668
1  Afghanistan  1951                                             282577
2  Afghanistan  1952                                             280803
3  Afghanistan  1953                                             279684
4  Afghanistan  1954                                             280476

In [89]:
#birth
births = pd.read_csv('../../data/00-raw-data/annual-number-of-births-by-world-region.csv')
births = births.drop(columns=['Code'])
births.head()

        Entity  Year  Births - sex: all - age: all - variant: estimates
0  Afghanistan  1950                                           365303.0
1  Afghanistan  1951                                           372040.0
2  Afghanistan  1952                                           378290.0
3  Afghanistan  1953                                           384933.0
4  Afghanistan  1954                                           390412.0

In [90]:
#merge data
df = population.merge(gdp, how='inner')
df = df.merge(death, how='left')
df = df.merge(births, how='left')

In [91]:
dfpast = df[df['Year'] < 2022]
dfpast = dfpast.rename(columns={'Natural growth rate - sex: all - age: all - variant: estimates':'Natural_growth_rate', 'GDP per capita, PPP (constant 2017 international $)':'GDP', 'Deaths - sex: all - age: all - variant: estimates':'Deaths', 'Births - sex: all - age: all - variant: estimates':'Births'})

In [92]:
dfpast.to_csv("../../data/01-modified-data/cleaned-population-py.csv")