In [63]:
#%%
import pandas as pd
import numpy as np

In [64]:
# natural population growth data
population = pd.read_csv('../../data/00-raw-data/natural-population-growth.csv')
population = population.drop(columns=['Code'])
population.head()

,Entity,Year,Natural growth rate - sex: all - age: all - variant: estimates,Natural growth rate - sex: all - age: all - variant: medium
0,Afghanistan,1950,1.09,NaN
1,Afghanistan,1951,1.18,NaN
2,Afghanistan,1952,1.27,NaN
3,Afghanistan,1953,1.35,NaN
4,Afghanistan,1954,1.40,NaN

In [65]:
# gdp data
gdp = pd.read_csv('../../data/00-raw-data/gdp-per-capita-growth.csv')
gdp = gdp.drop(columns=['Code'])
gdp.head()

        Entity  Year  GDP per capita growth (annual %)
0  Afghanistan  2003                          3.868380
1  Afghanistan  2004                         -2.875203
2  Afghanistan  2005                          7.207967
3  Afghanistan  2006                          2.253311
4  Afghanistan  2007                         11.022787

In [66]:
# life
life = pd.read_csv('../../data/00-raw-data/life-expectancy.csv')
life = life.drop(columns=['Code'])
life.head()

        Entity  Year  Life expectancy
0  Afghanistan  1950           27.638
1  Afghanistan  1951           27.878
2  Afghanistan  1952           28.361
3  Afghanistan  1953           28.852
4  Afghanistan  1954           29.350

In [67]:
#death
death = pd.read_csv('../../data/00-raw-data/annual-number-of-deaths-by-world-region.csv')
death = death.drop(columns=['Code'])
death.head()

        Entity  Year  Deaths - sex: all - age: all - variant: estimates
0  Afghanistan  1950                                             283668
1  Afghanistan  1951                                             282577
2  Afghanistan  1952                                             280803
3  Afghanistan  1953                                             279684
4  Afghanistan  1954                                             280476

In [68]:
#birth
births = pd.read_csv('../../data/00-raw-data/annual-number-of-births-by-world-region.csv')
births = births.drop(columns=['Code'])
births.head()

        Entity  Year  Births - sex: all - age: all - variant: estimates
0  Afghanistan  1950                                           365303.0
1  Afghanistan  1951                                           372040.0
2  Afghanistan  1952                                           378290.0
3  Afghanistan  1953                                           384933.0
4  Afghanistan  1954                                           390412.0

In [69]:
#disease
disease = pd.read_csv('../../data/00-raw-data/dalys-rate-from-all-causes.csv')
disease = disease.drop(columns=['Code'])
disease.head()

,Entity,Year,DALYs (Disability-Adjusted Life Years) - All causes - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,1990,86375.172793
1,Afghanistan,1991,83381.067665
2,Afghanistan,1992,79890.546689
3,Afghanistan,1993,80292.519388
4,Afghanistan,1994,83334.927129

In [55]:
#merge data
df = population.merge(gdp, how='left')
df = df.merge(life, how='left')
df = df.merge(death, how='left')
df = df.merge(births, how='left')
df = df.merge(disease, how = 'left')

In [54]:
dfpast = df[df['Year'] < 2022]
dffuture = df[df['Year'] > 2021]
dfpast.to_csv("../../data/01-modified-data/cleaned-population-past-py.csv")
dffuture.to_csv("../../data/01-modified-data/cleaned-population-future-py.csv")